{% extends "base.html" %}
{% block title %}
    {{ qTiele }}
{% endblock %}
{% block head %}
  {{ super() }}
   <style type="text/css">
       body {
           background-color: #386d97;
           background-image: url(https://www.v2ex.com/static/img/shadow_light.png),
           url(https://www.v2ex.com/static.v2ex.com/bgs/pixels.png);
           background-position: 0 0, 0 0;
           background-repeat: repeat-x, repeat;
       }

       .detail-title {
           margin-top: 25px;
           background: white;
           margin-left: 120px;
           padding-top: 13px;
           padding-bottom: 13px;
           width: 750px;
           padding-left: 20px;
           line-height: 40px;
           border-radius: 4px 4px 0px 0px;
           border-bottom: 1px solid #e2e2e2;
       }

       .detail-content {
           background: white;
           margin-left: 120px;
           padding-top: 13px;
           padding-bottom: 13px;
           width: 730px;
           padding-left: 20px;
           padding-right: 20px;
           line-height: 40px;
           border-bottom: 1px solid #e2e2e2;
       }

       .detail-comment {
           margin-top: 25px;
           background: white;
           margin-left: 120px;
           padding-top: 13px;
           padding-bottom: 13px;
           width: 770px;
           line-height: 40px;
           border-radius: 4px;
           border-bottom: 1px solid #e2e2e2;
       }

       .q-comment {
           margin-top: 25px;
           background: white;
           margin-left: 120px;
           width: 770px;
           border-radius: 4px;
           border-bottom: 1px solid #e2e2e2;
       }

       .d-a-1 a {
           text-decoration: none;
           color: #778087;
           font-size: 15px;
       }

       .d-a-1 a:hover {
           color: #4d5256;
           text-decoration: underline;
       }

       .d-2 {
           font-size: 24px;
           font-weight: 500;
       }

       .d-3 {
           color: #999;
           font-size: smaller;
       }

       .d-3 a {
           color: #999;
           font-size: 14px;
           text-decoration: none;
       }

       .d-3 a:hover {
           color: #4d5256;
           text-decoration: underline;
       }

       .c-1 {
           padding: 0px 10px 10px 0px;
           font-size: 14px;
           line-height: 120%;
           text-align: left;
           border-bottom: 1px solid #e2e2e2;
       }

       .c-1-1 {
           margin-left: 20px;
       }

       .c-1-2 {
           float: right;
           margin-right: 10px;
       }

       .c-2 {
           padding-left: 20px;
           border-bottom: 1px solid #e2e2e2;
           color: #999;
           font-size: 14px;
           line-height: 40px;
       }

       textarea {
           overflow: hidden;
           word-wrap: break-word;
           resize: none;
           height: 112px;
           border-radius: 3px;
           padding: 5px;
           font-size: 14px;
           border: 1px solid #ccc;
           display: block;
           width: 97%;
           height: 8em;
           overflow-y: auto;
           font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
           resize: vertical;
           box-sizing: border-box;
           margin-top: 10px;
           border-color: rgb(169, 169, 169);
       }

       button {
           border: none;
           outline: none;
           background-color: #fff;
           color: #333;
           text-shadow: 0 1px 0 #fff;
           text-decoration: none;
           font-weight: 700;
           box-shadow: 0 1px 0 rgba(66,66,77,.1);
           padding: 4px 8px 4px 8px;
           border: 1px solid rgba(80,80,90,.2);
           border-bottom-color: rgba(80,80,90,.35);
           border-radius: 3px;
           font-size: 14px;
           outline: 0;
       }

       button:hover {
           background-color: #f9f9f9;
           border: 1px solid rgba(60,60,70,.3);
           color: #333;
           text-shadow: 0 1px 0 #fff;
           text-decoration: none;
           font-weight: 700;
           cursor: pointer;
           box-shadow: 0 1px 0 rgba(66,66,77,.1);
       }
       .c-3 {
           padding-left: 680px;
       }

       .c-3 a {
           text-decoration: none;
           color: #778087;
       }

       .c-3 a:hover {
           color: #4d5256;
           text-decoration: underline;
       }

       .q-c-div {
           display: flex;
           padding-left: 10px;
           padding-top: 10px;
           padding-bottom: 10px;
       }

       .q-c-div + .q-c-div {
           border-top: 1px solid #e2e2e2;
       }

       .q-c-first {
           padding-left: 10px;
           border-bottom: 1px solid #e2e2e2;
           line-height: 40px;
       }

       .q-c-1 {
           margin-left: 10px;
           line-height: 25px;
       }

       .right-img {
           margin-left: 280px;
       }

       .q-c-1-1 {
           color: gray;
           text-decoration: none;
           font-weight: bold;
       }

       .q-c-1-1:hover {
           color: #385f8a;
           text-decoration: none;
           font-weight: bold;
       }

       .c-1-2:hover {
           cursor: pointer;
       }
   </style>
{% endblock %}
{% block content %}
  {{ super() }}
   <div class="detail-title">
       <div class="d-a-1"><a href="/">V2EX</a>  ›  <a href="/question/all/{{ d_nodeId }}/{{ topicId }}">{{ ticName }}</a></div>
       <div class="d-2">{{ qTiele }} <img class="right-img" src="https://cdn.v2ex.com/gravatar/b146a8743fc06ad77e447e31552e0663?s=48&d=retro"></div>
       <div class="d-3">
           <a href="/index/{{ n_id }}/{{ username }}">{{ username }}</a>
           ·
           <span class="time" data-time="{{ created_time }}"></span>
           ·
           {{ clickCount }} 次点击
       </div>
   </div>
   <div  class="detail-content">
       <div>{{ content }}</div>
   </div>
   <div class="q-comment">
       <div class="q-c-first">{{ count }} 回复  |  直到 {{ newTime }}</div>
       <div class="q-comment-1">
       {% for c in comment %}
           <div class="q-c-div">
               <img src="https://cdn.v2ex.com/gravatar/b146a8743fc06ad77e447e31552e0663?s=48&d=retro">
               <div class="q-c-1">
                   <!--<span><a class="q-c-1-1" href="/index/{{ c.node_id }}/{{ c.username }}">{{ c.username }}</a></span>-->
                   <!--<span class="time" data-time="{{ c.created_time }}"></span>-->
                   <!--<div>{{ c.content }}</div>-->
                   <span><a class="q-c-1-1" href="/index/{{ c['node_id'] }}/{{ c['username'] }}">{{ c['username'] }}</a></span>
                   <span class="time" data-time="{{ c['created_time'] }}"></span>
                   <div>{{ c['content'] }}</div>
               </div>
           </div>
       {% endfor %}
       </div>
   </div>
   {% if user_id != 0 %}
   <div class="detail-comment">
       <div class="c-1"><span class="c-1-1">添加一条新回复</span><span class="c-1-2">回到顶部</span></div>
       <div class="c-2">
           <!--<form action="/comment/add" method="post">-->
               <textarea id="c-c" name="content"></textarea>
               <input id="c-t" name="topic_id" value="{{ topicId }}" type="hidden">
               <input id="c-q" name="question_id" value="{{ qId }}" type="hidden">
               <input id="c-n" name="node_id" value="{{ d_nodeId }}" type="hidden">
               <button class="reply">回复</button><span class="c-1-2">请尽量让自己的回复能够对别人有帮助</span>
           <!--</form>-->
       </div>
       <div class="c-3"><a href="/">← V2EX </a></div>
   </div>
   {% endif %}
   <script>
       var longTimeAgo = function(){
            var timeAgo = function(time, ago) {
                return Math.round(time) + ago;
            }

            $('.time').each(function(i, e){
                var past = parseInt(e.dataset.time);
                // alert(past)
                var now = Math.round(new Date().getTime() / 1000);
                var seconds = now - past;
                var ago = seconds / 60;
                // log('time ago', e, past, now, ago);
                var oneHour = 60;
                var oneDay = oneHour * 24;
                // var oneWeek = oneDay * 7;
                var oneMonth = oneDay * 30;
                var oneYear = oneMonth * 12;
                var s = '';
                if(seconds < 60) {
                   s = timeAgo(seconds, ' 秒前')
                   } else if (ago < oneHour) {
                       s = timeAgo(ago, ' 分钟前');
                   } else if (ago < oneDay) {
                       s = timeAgo(ago/oneHour, ' 小时前');
                   } else if (ago < oneMonth) {
                       s = timeAgo(ago / oneDay, ' 天前');
                   } else if (ago < oneYear) {
                       s = timeAgo(ago / oneMonth, ' 月前');
                   }
                   $(e).text(s);
                });
        }

       $('.c-1-2').on('click', function(){
           // window.scrollTo(0,0);
           $("html,body").animate({scrollTop:0},500);
       })


       $('body').on('click', '.reply', function(){
           var topicId = $('#c-t').val()
           var questionId = $('#c-q').val()
           var nodeId = $('#c-n').val()
           var content = $('#c-c').val()

           var data = {
               topic_id: topicId,
               question_id: questionId,
               node_id: nodeId,
               content: content
           }

           url = '/comment/add'
           var request = {
              data: data,
              type: 'post',
              url: url,
              success: function(r){
                  var r = JSON.parse(r)
                  var name = r.name
                  var time = r.time
                  var content = r.content
                  var nodeId = r.node_id

                  var template = `
                       <div class="q-c-div">
                           <img src="https://cdn.v2ex.com/gravatar/b146a8743fc06ad77e447e31552e0663?s=48&d=retro">
                           <div class="q-c-1">
                               <span><a class="q-c-1-1" href="/index/${ nodeId }/${ name }">${ name }</a></span>
                               <span class="time" data-time="${ time }"></span>
                               <div>${ content }</div>
                           </div>
                       </div>
                  `
                  $('.q-comment-1').prepend(template)
              },
              error: function(){
                  alert('失败')
              }
           }

           $.ajax(request)
       })

       setInterval(function(){
                longTimeAgo()
            }, 0.1)
   </script>
{% endblock %}