{% extends "base.html" %}
{% block title %}
    登录
{% endblock %}
{% block head %}
  {{ super() }}
   <style type="text/css">
      .login {
          margin-top: 25px;
          background: white;
          height: 150px;
          padding-left: 120px;
          padding-top: 30px;
      }
   </style>
   <script>
       $(document).ready(function(){
          setTimeout("$('.span-delete').remove()", 2000)
       })
   </script>
{% endblock %}
{% block content %}
  {{ super() }}
   <div class="login">
       <form action="/login/form" method="post">
           <input name="username" placeholder="请输入用户名">
           <br>
           <input name="password" placeholder="请输入密码">
           <br>
           <button>登录</button>
       </form>
       <span class="span-delete">{{ result }}</span>
   </div>
{% endblock %}